/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';


body {
    background-color: #252525;
    color: #fff;
}

@layer components {
    .btn {
        @apply flex mt-5 cursor-pointer p-2 rounded
               transition-all 
               duration-100 
               ease-in-out;
    }

    .btn-primary {
        @apply bg-orange-800 
               hover:bg-orange-900
               active:bg-orange-950
               active:text-gray-300;
    }

    .btn-second {
        @apply bg-gray-500
               hover:bg-gray-600
               active:bg-gray-700;
    }

    .btn-transparent {
        @apply text-orange-800 border border-orange-800
               hover:bg-orange-950 
               hover:text-orange-600
               active:bg-orange-900;

    }
}